<header class="bo-top-container">
    <div class="bo-top">
        <div>
            <a href="/"><img src="/images/mawun-logo.svg" alt="MAWUN" class="bo-logo"></a>
        </div>
        <div class="bo-profile-wrap">
            <p class="bo-profile-txt">Usuario A</p>
            <a href="/login.html" class="bo-profile"><i class="far fa-user"></i></a>
        </div>
    </div>
</header>