<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>

            <main>
                <section class="abm-inventory container">

                    <h2 class="abm-title-inv">Carrito</h2>

                    <div class="abm-inventory-wrapper">


                        <div class="carrito-grid-container">


                            <div class="grid-item-carrito abm-input-tit-carrito grid-producto-carrito">Producto</div>
                            <div class="grid-item-carrito abm-input-tit-carrito">Precio</div>
                            <div class="grid-item-carrito abm-input-tit-carrito">Cantidad</div>
                            <div class="grid-item-carrito abm-input-tit-carrito">Subtotal</div>

                            <div class="grid-item-carrito">
                                <div class="producto1Carrito">
                                    <img src="\upload\products/el-vino-del-capitan-malbec.jpg" alt="rose"
                                        class="imagenProductoCarrito">

                                    <div class="nombreProductoCarrito">
                                        <p class="vinoLineaCarrito">El vino del Capitán Malbec</p>
                                        <p>Bodega Vinecol</p>
                                    </div>
                                </div>


                            </div>
                            <div class="grid-item-carrito">
                                <p class="precioCarrito">$480.-</p>
                            </div>
                            <div class="grid-item-carrito">
                                <div class="cajaSumadoraCarrito">
                                    <!--https://embed.plnkr.co/plunk/B5waxZ-->
                                    <input type="button" value="-" class="minus"> <input type="tel" value="3"
                                        name="sumador" class="sumador" maxlength="1" step="1" min="1" max=""><input
                                        type="button" value="+" class="plus">
                                </div>
                            </div>

                            <div class="grid-item-carrito">
                                <p class="precioCarrito">$1440.-
                                    <span>
                                        <i class="far fa-trash-alt"></i>
                                    </span>
                                </p>

                            </div>



                            <div class="grid-item-carrito">
                                <div class="producto1Carrito">
                                    <img src="\upload\products\stella-crinita-petit-verdot.jpeg" alt="rose"
                                        class="imagenProductoCarrito">

                                    <div class="nombreProductoCarrito">
                                        <p class="vinoLineaCarrito">Stella Crinita Petit Verdot</p>
                                        <p>Bodega Stella Crinita</p>
                                    </div>
                                </div>

                            </div>
                            <div class="grid-item-carrito">
                                <p class="precioCarrito">$1370.-</p>
                            </div>
                            <div class="grid-item-carrito">
                                <div class="cajaSumadoraCarrito">
                                    <!--https://embed.plnkr.co/plunk/B5waxZ-->
                                    <input type="button" value="-" class="minus"> <input type="tel" value="1"
                                        name="sumador" class="sumador" maxlength="1" step="1" min="1" max=""><input
                                        type="button" value="+" class="plus">
                                </div>
                            </div>

                            <div class="grid-item-carrito">
                                <p class="precioCarrito">$1370.-
                                    <span>
                                        <i class="far fa-trash-alt"></i>
                                    </span>
                                </p>

                            </div>


                            <div class="grid-item-carrito grid-producto-carrito abm-input-tit-carrito-total">Total</div>
                            <div class="grid-item-carrito"></div>
                            <div class="grid-item-carrito"></div>
                            <div class="grid-item-carrito total-carrito">$2810-</div>





                        </div>
                        <section class="botones-carrito">
                            <div class="actualizarCarrito">Actualizar carrito</div>
                            <div class="finalizarCompra">Finalizar compra</div>
                        </section>

                    </div>
                </section>
            </main>
            <main>
                <%- include('../partials/footer') %>
    </body>

</html>