<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/bo-header') %>
    <main>
        <section class="abm-inventory container">
                <div class="abm-inventory-wrapper grid-container">
                    <div class="grid-item abm-input-tit">ID</div>
                    <div class="grid-item abm-input-tit">Artículo</div>
                    <div class="grid-item abm-input-tit">Recomendado</div>
                    <div class="grid-item abm-input-tit">Acciones</div>
                    <div class="grid-item abm-input-tit">5</div>
                    <div class="grid-item">6</div>
                    <div class="grid-item">7</div>
                    <div class="grid-item">8</div>
                </div>
        </section>
    </main>
    <%- include('../partials/bo-footer') %>
</body>
</html>