<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>

            <main>
                <section class="abm-inventory container">

                    <h2 class="abm-title-inv graciasCarrito">Carrito</h2>

                    <div class="abm-inventory-wrapper">


                

                            <div class="compraExitosa">
                                <i class="fas fa-check"></i>
                                <h1 class="recibirCompra">¡Recibimos tu compra exitosamente!</h1>  
                            <div class="mensajeConfirmacion"><b>Muchas gracias por tu pedido.</b><br>
                                Recibirás los datos de envío al correo electrónico proporcionado.</div>
                            </div>
                    
                    
                    </div>
                </section>
            </main>
            <main>
                <%- include('../partials/footer') %>
    </body>

</html>