<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="page-title">
            <img src="/images/page-title-img.jpg" alt="Tienda" class="page-title-img">
            <div class="container">
                <div class="page-title-desc">
                    <h1>Sobre Nosotros</h1>
                </div>
            </div>
        </div>
        
    </main>
    <%- include('./partials/footer') %>
</body>
</html>