<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="page-title">
            <img src="/images/page-title-contacto.jpg" alt="Contactanos" class="page-title-img">
            <div class="container">
                <div class="page-title-desc">
                    <h1>Contactános</h1>
                </div>
            </div>
            <section class="container">
                <div class="contact-first-title">
                    <p>Encontrá la información que necesitás</p>
                </div>
                <div class="contact-information-form" >
                    <div class="contact-information">
                        <h2 class="contact-title">Consultá por tu compra</h2>
                        <p>
                            <span>Si realizaste una compra y tenes dudas, enviamos un mensaje a este email:</span>
                        </p>
                            <a href="mailto:dhschools@digitalhouse.com" class="contact-link"><p>info@mawun.wine</p></a>
                        <h2 class="contact-title">Venta Mayorista</h2>
                        <p>
                            <span>Si necesitas comprar para tu restaurant o almacén, envianos un mail a:</span>
                        </p>
                        <a href="mailto:dhschools@digitalhouse.com" class="contact-link"><p>info@mawun.wine</p></a>
                    </div>
                    <div class="contact-form">
                        <form action="" method="POST" class="">
                                <div class="" >
                                    <label for="name"></label>
                                    <input class="contact-form-input" type="text" name="name" id="name" placeholder="Nombre Completo" required>
                                </div>
                                <div class="" >
                                    <label for="email"></label>
                                    <input class="contact-form-input" type="email" name="email" id="email" placeholder="Email" required>
                                </div>
                                <div class="" >
                                    <label for="asunto"></label>
                                    <input class="contact-form-input" type="text" name="asunto" id="asunto" placeholder="Asunto" required>
                                </div>
                                <div class="" >
                                    <label for="description"></label>
                                    <textarea class="contact-form-description" type="text" name="description" id="description" placeholder="Descripción" required>
                                    </textarea>
                                </div>
                                <div>
                                    <button class="contact-form-buttom" type="submit">Enviar</button>
                                </div>
                        </form>
                        </div>
                </div>
            </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>