<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mawun - Vinos Exclusivos | Biodinámicos, Naturales y Orgánicos</title>
    <meta name="description" content="Tienda de vinos Biodinámicos, Naturales y Orgánicos para las personas de paladar fino y exquisito." />
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body>
    <header>
        <div class="hero-top">
            <div>
                <a href="/"><img src="/images/mawun-logo.svg" alt="MAWUN" class="hero-logo"></a>
            </div>
            <div class="hero-search">
                <form action="" method="POST">
                    <input type="search" maxlength="256" placeholder="Buscar Vinos" class="hero-search__field">
                    <button class="hero-search__submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="bgc-fw">
            <nav class="hero-menu-wrapper container">
                <ul class="hero-menu">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Tienda</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
                <div class="hero-cart">
                    <a href="#" class="hero-cart-link"><i class="far fa-user"></i></a>
                    <a href="#" class="hero-cart-link"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </nav>
        </div>
    </header>
    <main>

    </main>
    <footer class="bgc-fw">
        <div class="footer-wapper container">
            <div class="footer-contact">
                <img class="footer-logo" src="/images/mawun-logo-w.svg" alt="Mawun Wines">
                <a href="#" class="footer-link"><i class="far fa-map"></i></i><p>Calle Nombre 815</p></a>
                <a href="#" class="footer-link"><i class="fab fa-whatsapp"></i><p>54 11 3210 7654</p></a>
                <a href="#" class="footer-link"><i class="far fa-envelope"></i><p>info@mawun.wine</p></a>
            </div>
            <div>
                
            </div>
            <div></div>
        </div>
    </footer>
</body>
</html>