<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mawun - Vinos Exclusivos | Biodinámicos, Naturales y Orgánicos</title>
        <meta name="description" content="Tienda de vinos Biodinámicos, Naturales y Orgánicos para las personas de paladar fino y exquisito." />
        <link href="/css/normalize.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
    </head>
<body>
    <header>
        <div class="hero-top">
            <div>
                <a href="/"><img src="/images/mawun-logo.svg" alt="MAWUN" class="hero-logo"></a>
            </div>
            <div class="hero-search">
                <form action="/" method="POST">
                    <input type="search" maxlength="256" placeholder="Buscar Vinos" class="hero-search__field">
                    <button class="hero-search__submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="bgc-fw">
            <nav class="hero-menu-wrapper container">
                <ul class="hero-menu">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/detalle-producto.html">Tienda</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
                <div class="hero-cart">
                    <a href="/login.html" class="hero-cart-link"><i class="far fa-user"></i></a>
                    <a href="/carrito.html" class="hero-cart-link"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </nav>
        </div>
    </header>

    <form action="register.html" method="POST">
        <div class="form-login">
            <h1>Registro</h1>
            <div>
                <label for="Nombre"></label>
                <input class="form-input" type="text" maxlength="25" placeholder="Nombre de Usuario" name="nombre" id="nombre" required>
            </div>
            <div>
                <label for="Apellido"></label>
                <input class="form-input" type="text" maxlength="12" placeholder="Apellido de Usurario" name="apellido" id="apellido" required>
            </div>
            <div>
                <label for="Email"></label>
                <input class="form-input" type="email" maxlength="30" placeholder="Ej. juancito@gmail.com" name="email" id="email" required>
            </div>
            <div>
                <label for="password"></i> </label>
                <input class="form-input" type="password" maxlength="15" placeholder="Contraseña" name="clave" id="password" required>
            </div>
            <div>
                <label for="password"></i> </label>
                <input class="form-input" type="password" maxlength="15" placeholder=" Confirmar contraseña" name="clave" id="password" required>
            </div>
            <div>
                <button class="form-button-submit" type="submit">Enviar</button>
            </div>
            </form>
        </div>
        <footer class="bgc-fw">
            <div class="footer-wapper container">
                <div class="footer-contact">
                    <img class="footer-logo" src="/images/mawun-logo-w.svg" alt="Mawun Wines">
                    <a href="#" class="footer-link"><i class="far fa-map"></i></i><p>Calle Nombre 815</p></a>
                    <a href="#" class="footer-link"><i class="fab fa-whatsapp"></i><p>54 11 3210 7654</p></a>
                    <a href="#" class="footer-link"><i class="far fa-envelope"></i><p>info@mawun.wine</p></a>
                </div>
                <div class="footer-social-wrapper">
                    <h5>SEGUINOS</h5>
                    <div class="footer-social">
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
                <div class="footer-news-wrapper">
                    <h5>SUSCRIBITE AL NEWSLETTER</h5>
                    <form action="/" method="POST" class="footer-news-form">
                        <input type="email" class="footer-news__field" maxlength="256" placeholder="Tu e-mail" required>
                        <button class="footer-news__submit">SUSCRIBIRSE</button>
                    </form>
                    <div class="footer-news">
                        <a href="#">Términos & Condiciones</a>
                        <a href="#">Póliticas de Privacidad</a>
                    </div>
                </div>
            </div>
        </footer>



    
</body>
</html>