/*
//Colors//
Backgroung color:#faeeed | Title colors: #412838 | Subtitle color: #55394a | Title colors: #412838 | Text color: #666666 | fondo de sumador en detalle de producto: #C4C4C4 |
Celeste - 22a7f0 | Rojo - fa2a00 | Amarillo - #f39c12 | Verde - 2ecc71 
//Fonts//
font-family: 'Montserrat', sans-serif;
font-family: 'DM Serif Display', serif;
*/
/*CSS PETER*/
body {
    display: block;
    background-color: #faeeed;
    font-family: 'Montserrat', sans-serif;
    color: #666666;
    font-size: 13px;
    line-height: 21px;
    margin: 0px;
    min-height: 100%;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h2 {
    color: #412838;
    font-size: 26px;
    text-align: center;
    font-weight: 500;
}
h3 {
    color: #faeeed;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 1px;
}
h4 {
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0;
}
h5 {
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    padding-top: 30px;
}
input:focus {
    outline: none;
}
.container {
    margin: auto;
    max-width: 1100px;
}
.full-height{
    height: 80vh; 
}
.bgc-fw {
    background-color: #55394a;
}
.hero-top {
    display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: flex-end;
    max-width: 1100px;
    padding: 10px 0;
    margin: auto;
}
.hero-search {
    display: flex;
    justify-content: center;
	align-items: center;
    /* height: 30px; */
    margin-bottom: 0px;
}
.hero-search-wrap {
    display: flex;
    align-items: center;
}
.hero-search__field {
    width: 250px;
    height: 40px;
    border-width: 0px;
    padding: 10px;
}
.hero-search__field:focus {
    border-style: solid;
    border-width: 1px;
    border-color: #55394a;
}
.hero-search__submit {
    font-size: 16px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    height: 40px;
    padding: 0 10px;
    border-radius: 0px;
    background-color: #412838;
}
.hero-search__submit:hover {
    background-color: #55394a;
}
.hero-menu-wrapper {
    display: flex;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
    position: relative;
    
}
.hero-burger-wrap {
    display: none;
    font-size: 14px;
    color: white;
    padding: 14px 22px;
    transition: background-color 0.5s ease;
    background-color: #55394a;
}
.hero-burger-wrap:hover {
    background-color: #412838;
}
ul.hero-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.hero-menu li {
    float: left;
}
ul.hero-menu li a {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1px;
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 22px 24px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.5s ease;
    background-color: #55394a;
}
ul.hero-menu li a:hover {
    background-color: #412838;
}
.hero-cart {
    /* padding: 10px 16px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-cart-link {
    color: #ffffff;
    font-size: 18px;
    color: #ffffff;
    font-size: 22px;
    margin: 5px 10px 0px 10px;
}

.hero-cart-link:hover {
    color: #faeeed;
}
.hero-cart-counter-wrapper{
    position: relative;
    margin-right: 20px;
}
.hero-cart-counter{
    position: absolute;
    padding: 4px 6px;
    border-radius: 50%;
    background-color: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -9px;
    right: -12px;
}
.hero-profile-picture-link{
    width: 35px;
    height: 35px;
    line-height: 0px;
    border-radius: 50%;
}
.hero-logo {
    width: 200px;
    color: white;
}
.hero-banner {
    position: relative;
    display: block;
    height: auto;
    margin-bottom: 50px;
    padding: 0px;
    object-position: 0% 0%;
}
.hero-banner-img {
    width: 100%;
    height: 480px;
    object-fit: cover;
    object-position: 50% 50%;
}
.hero-banner-desc {
    position: absolute;
    top: 50px;
    color: #ffffff;
    max-width: 650px;
}
.hero-banner-desc h1 { 
    font-family: 'DM Serif Display', serif;
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 1px;
    font-weight: 400;
}
.hero-banner-desc p { 
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1px;
}
.page-title {
    position: relative;
    display: block;
    height: auto;
    padding: 0px;
    object-position: 0% 0%;
}
.page-title-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 50% 50%;
}
.page-title-header {
    position: absolute;
    top: 20%;
    color: #744b64;
    max-width: 650px;
}
.page-title-header h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 1px;
    font-weight: 400;

}
.page-title-desc {
    position: absolute;
    top: 20%;
    color: #744b64;
    max-width: 650px;
}
.page-title-desc h1 { 
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 1px;
    font-weight: 400;
}
#cultivos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cultivos-wrapper {
    position: relative;
    width: 320px;
    height: 320px;
}
.cultivos-img {
    object-fit: cover;
    width: 320px;
    height: auto;
}
.cultivos-title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 320px;
    text-decoration: none;
    display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
    transition: all .4s ease-in-out;
}
.cultivos-title:hover {
    background-color: rgba(85, 57, 74, .5);
}
.cultivos-title h3 {
    text-decoration: none;
    font-weight: 600;
    padding-bottom: 30px;
}
#recomendados {
    padding: 60px 0 0;
}
.divider {
    border-top: solid 1px #412838;
    width: 15%;
    margin: auto;
}
.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 30px 30px;
    padding: 50px 0 0;
}
.product-grid-item {
    background-color: #ffffff;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 4px 4px 7px 0 rgb(0 0 0 / 15%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-grid-item a{
    display: block;
    text-decoration: none;
}
.product-grid-img {
    width: 200px;
}
.product-grid-title {
    font-size: 24px;
    color: #666666;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 10px 0;
}
.button-wrap {
    margin: 5px;
}
.product-grid-button {
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 3px;
    text-decoration: none;
    background-color: #55394a;
    border: #55394a solid 1px;
    transition: all 0.3s ease-in-out;
}
.product-grid-button:hover {
    background-color:#faeeed;
    color: #55394a;
    border: #55394a solid 1px;
}
#ads-banner {
    padding: 40px 0;
}
.ads-banner-wrapper {
    position: relative;
}
.footer-wapper {
    margin-top: 60px;
    padding: 20px 0;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer-contact {
    padding: 20px 0px;
}
.footer-logo {
    width: 250px;
    margin-bottom: 10px;
}
.footer-link {
    color: #ffffff;
    text-decoration: none;
    display: flex;
	align-items: center;
}
.footer-link p {
    margin: 0 0 3px 10px;
    padding-top: 3px;
}
.footer-social-wrapper {
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.footer-social {
    color: #ffffff;
    font-size: 28px;
    text-decoration: none;
    display: flex;
	align-items: center;
    padding: 0px 20px 0px 17px;
}
.footer-social a {
    color: #ffffff;
    text-decoration: none;
    margin-top: 15px;
}
.footer-news-wrapper {
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	align-content: space-between;
}
.footer-news {
    display: flex;
	align-items: center;
}
.footer-news a {
    color: #ffffff;
    font-size: 10px;
    text-decoration: none;
    margin: 15px 0 0 15px;
}
.footer-news-form {
    display: flex;
	justify-content: center;
    margin-bottom: 20px;
}
.footer-news__field {
    width: 210px;
    height: 30px;
    border: none;
    padding-left: 10px;
}
.footer-news__field:focus {
    background-color: #ffffff;
    font-size: 11px;
    color: #412838;
}

.footer-news__submit {
    background-color: #faeeed;
    font-size: 11px;
    font-weight: normal;
    color: #412838;
    border: none;
    height: 30px;
    padding: 0 10px;
    border-radius: 0px;
    transition: all .4s ease-in-out;
}

.footer-news__submit:hover {
    background-color: rgba(250, 238, 237, 0.3);
    color: #faeeed;
}
/* FIN CSS PETER */

/* CSS AUGUSTO */


/* Perfil de usuario */

.perfil-de-usuario-item {
    margin-bottom: 40px;
}

.foto-perfil {
    margin: 0;
    margin-top: 7px;
}

.foto-margin-right {
    margin-right: 48px;
}

.flex-image-edituser {
    display: flex;
    align-items: center;
    height: 48px;
}


.wrapper-perfil-de-usuario {
    display: flex;
    flex-direction: column;
}

.items-wrapper-perfil-de-usuario {
    width: 250px;
    margin: 10px;
}



.perfil-de-usuario-editar {
    color:blue;
    margin: 10px;

}



/* Estilos para detalleProducto.html*/
.detalleProducto {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    background-color: #fff;
    max-width: 1100px;
    width: 100%;
    padding: 40px;
    box-shadow: 4px 4px 7px 0 rgb(0 0 0 / 15%);
    border-top: 4px solid #744b64;
}
/* Imágenes de producto en detalle de compra */
.imagenesCostado {
    display: flex;
    flex-direction: column;
    margin: 30px;
    justify-content: center;

}
.imagenesCostado img:hover {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.77), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
    transition: all 0.3s ease-in-out;
}
.imagenesCostado img {
    width: 140px;
    height: auto;
    border-radius: 8px;
    margin: 3px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}
.imagenPrincipal img {
    width: 350px;
    margin: 30px;
    padding: 0px;
    margin: 0px 25px;
}
/* texto de producto en detalle de compra */
.contenedorTexto {
    width: 60%;
    max-width: 650px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}
.tituloProducto {
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
    font-size: 23px;
    margin-bottom: 8px;
    text-align: left;
}
.marcaLinea {
    font-size: 15px;
}
.categoriasPC {
    font-size: 15px; 
    font-weight: 500;
    margin-top: 10px;
}
.precioDP {
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    color:#55394a;
    margin: 15px 0px;
    letter-spacing: 2px;
}
.descripcionDP {
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 15px;
}
/* Íconos en el texto de detalle de compra */
.iconosProducto {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    width: 100%;
}
.cajaSumadora {
    display: flex;
    justify-content: center;
    font-size: 16px;
    min-width: 70px;
    align-items: center;  
}
.minus {
   border-radius: 7px 0px 0px 7px;
   border: none;
   min-width: 19px;
   background-color: white;
   border: #55394a solid 1px;
}
.minus:hover {
    transition: all 200ms;
    background-color:#55394a;
    color: white;
    border: #55394a solid 1px;
}
.plus {
    border-radius: 0px 7px 7px 0px;
    border: none;
    min-width: 19px;
    background-color: white;
    border: #55394a solid 1px;
}
.plus:hover {
    transition: all 200ms;
    background-color:#55394a;
    color: white;
    border: #55394a solid 1px;
}
.sumador {
    background-color: white;
    border: none;
    text-align: center;
    width: 25px;
    font-size: 13px;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
    height: 22px;
}

.trashIcon{
    color: #414141c9;
    background: white;
    border: none;
}

.compraExitosa{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 52px 0px;
    flex-direction: column;
}

.recibirCompra{
    margin-top: 31px;
    text-align: center;
}

.mensajeConfirmacion{
    font-size: 15px;
    padding: 7px 0px;
    text-align: center;
    line-height: 24px;
}

.muchasGracias{
    margin-bottom: 5px;
}

.fa-check {
    font-size: 38px;
    color: #2ecc71;
    border: black 4px;
    margin-left: 27px;
}

.sumadorCarrito {
    background-color: white;
    border: none;
    text-align: center;
    width: 25px;
    font-size: 13px;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
    height: 20px;
}
.agregarCarrito:hover {
    background-color:#faeeed;
    color: #55394a;
    border: #55394a solid 1px;
}
.agregarCarrito {
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    min-width: 150px;
    padding: 10px 15px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    background-color: #55394a;
    border: #55394a solid 1px;
    transition: all 0.3s ease-in-out;
}
/* Carrito de compras */
.flexCorrection {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.contenedorBarraSuperiorCarrito {
    width: 98%;
    text-align: center;
    max-width: 1100px;
    margin: auto;
    padding: 0px 5px 0px 5px;
}
.tituloCarrito {
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 32px;
    text-align: center;
}
.barraSuperiorCarrito {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
}
.columnaProducto {
    align-items: center;
    display: flex;
}
.columnasDerecha {
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.columnasDerecha p {
    text-align: center;
    min-width: 120px;
}
.barraHR {
    margin: 0px -6px;
}
/* Flex del producto Carrito de Compras, lado izquierdo */
.producto1CarritoContenedorTotal {
    display: flex;
    justify-content: space-between;
}
.producto1CarritoContenedor {
    width: 50%;
}
.productoCarrito {
    display: flex;
    border-bottom: #e7e7e7 solid 1px;
    justify-content: center;
    margin-top: 17px;
    padding-bottom: 22px;
}

.productoCarrito:last-child {
    border-bottom: none;


}
.imagenProductoCarrito {
    width: 30%;
    margin-right: 30px;
}
.nombreProductoCarrito {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 40%;
    justify-content: space-between;
    padding: 12px 0px 12px 0px;
}
.nombreProductoCarrito a {
    display: flex;
}
.vinoLineaCarrito {
    font-family: 'DM Serif Display', serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;

}

.wineryCarrito {
    margin-top: 6px;
}
/* Flex del producto Carrito de Compras, lado derecho */
.producto1Derecho {
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.producto1Derecho > * {
    min-width: 120px;   
}
.cajaSumadoraCarrito {
    display: flex;
    justify-content: center;
    font-size: 14px;
    align-items: center;
    min-width: 50px;
    max-width: 64px;
}
.sumadorTrash {
    display: flex;
    justify-content: space-between;
}

.fa-trash-alt {
    margin-left: 6px;
    font-size: 17px;
}

.trashButtonCarrito {
    border: none;
}

.precioCarrito{
font-weight: bold;
font-size: 16px;
margin-top: 16px;
}
.fa-trash-alt:hover {
    color: rgba(0, 0, 0, .1);
    transition: all 200ms;
}
.actualizarCarrito {
    background-color: rgb(65 40 56);
    color: white;
    padding: 1px 8px 1px 8px;
    font-size: 13px;
    cursor: pointer;
    min-width: 150px;
    padding: 10px 15px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    background-color: #AAC6B5;
    border: #55394a solid 1px;
    padding: 5px 8px 5px 8px;
    transition: all 0.3s ease-in-out;
    align-items: center;
    margin: 40px 0px;
    max-width: 135px;
    margin-right: 26px;
}
.finalizarCompra:hover, .actualizarCarrito:hover {
    background-color:#faeeed;
    color: #55394a;
    border: #55394a solid 1px;
}

.checkboxAddress{
    line-height: 13px;
}

.checkAddress {
    float: left;
    position: absolute;
    margin-top: 27px;
    margin-left: -34px;
}

.messageAddress{
    padding: 10px;
    background-color: #2424241a;
    flex-basis: 100%;
}

.selectorAddress{
    padding: 10px;
    flex-basis: 100%;
}

.addressInvisible{
    display: none;
}

.cargarDireccion {
    text-align: right;
    margin-left: auto;
}

.cursorAllign {
    cursor: pointer;
    width: 100%;
}


.new-direction-wrap {
    flex-wrap: wrap;
    flex-basis: 100%;
    padding: 10px;
    width: 50%;
}

.address-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 32px;
}
.addressWrapper{
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.address-input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    
}
.abm-button-continuar{
    display: flex;
    justify-content: flex-end;
    padding: 15px 10px;

}

.abm-input-tit-address{
    color: #412838;
    font-size: 16px;
    font-weight: 500;
}
.totalCarrito {
    display: flex;
    justify-content: space-between;
    border: solid 1px rgba(0, 0, 0, 0.24);
    border-radius: 3px;
    padding: 10px 10px;
    margin: 40px 0px;
}
.finalizarCompra {
    color: white;
    font-size: 17px;
    cursor: pointer;
    min-width: 231px;
    text-align: center;
    border-radius: 3px;
    margin-top: 16px;
    text-decoration: none;
    background-color: #55394a;
    border: #55394a solid 1px;
    padding: 13px 8px;
    transition: all 0.3s ease-in-out;
    align-items: center;
    max-width: 135px;
}
/*ABM inventario*/
.grid-container {
    display: grid;
    grid-template-columns: 0.3fr 2.1fr 0.1fr 1.5fr; 
    grid-template-rows: 0.3fr 1.2fr; 
    grid-template-areas:
      ". . . ."
      ". . . .";
    width: 100%;
    height: 23.4%;
}
.grid-item {
    padding: 10px;
    text-align: center;
    border-left: 1px solid #412838;
    border-top: 1px solid #412838;
    font-weight: 500;
}
.grid-item:nth-child(4n) {
    border-right: 1px solid #412838;
}

.grid-item:nth-child(5n) {
    border-bottom: 1px solid #412838;
}
.grid-item:nth-child(5n+6) {
    border-bottom: 1px solid #412838;
}
.grid-item:nth-child(5n+7) {
    border-bottom: 1px solid #412838;
}
.grid-item:nth-child(5n+8) {
    border-bottom: 1px solid #412838;
}
.grid-item:nth-child(5n+9) {
    border-bottom: 1px solid #412838;
}
.grid-item:nth-child(1n+9) {
    border-top: none;
}
.abm-inventory-wrapper {
    background-color: #ffffff;
    width: 100%;
    padding: 15px 40px;
    box-shadow: 4px 4px 7px 0 rgb(0 0 0 / 15%);
    border-top: 4px solid #744b64;
}


.arrow
{
  border-color: transparent transparent #FFF #FFF;
  border-style: solid;
  border-width: 23px 23px 23px 23px;
  height:0;
  width:0;
  position:absolute;
  bottom:0px;
}

.itemInfo {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.itemRecom {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.checkboxInventario {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.checkboxCheck {
    margin-right: 10px;
}
.botonesWrapper {
    display: flex;
    justify-content: center;
}
.botonesInventario1:hover {
    background-color: #ffffff;
    color: #22A7F0;
    border: solid 1px #22A7F0;
}
.botonesInventario2:hover {
    background-color:#ffffff;
    color: #f39c12;
    border: solid 1px #f39c12;
}
.botonesInventario3:hover {
    background-color:#ffffff;
    color: #fa2a00;
    border: solid 1px #fa2a00;
}
.botonesInventario1 {
    font-size: 13px;
    margin-right: 3px;
    margin-left: 3px;
    color: #ffffff;
    cursor: pointer;
    min-width: 75px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    background-color: #22a7f0; 
    border: #22a7f0 solid 1px; 
    padding: 5px 8px 5px 8px;
    transition: all 0.3s ease-in-out;
}
.botonesInventario2 {
    font-size: 13px;
    margin-right: 3px;
    margin-left: 3px;
    color: #ffffff;
    cursor: pointer;
    min-width: 75px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    background-color: #f39c12;
    border: #f39c12 solid 1px;
    padding: 5px 8px 5px 8px;
    transition: all 0.3s ease-in-out;
}
.abm-button-submit.botonesInventario2 {
    margin-left: 15px;
    text-align: center;
    background-color: #f39c12;
    border: #f39c12 solid 1px;
    transition: all 0.3s ease-in-out;
}

.abm-button-submit.botonesInventario2:hover {
    background-color: #ffffff;
    color: #f39c12;
    border: #f39c12 solid 1px;
}
.botonesInventario3 {
    font-size: 13px;
    margin-right: 3px;
    margin-left: 3px;
    color: #ffffff;
    cursor: pointer;
    min-width: 75px;
    height: 33px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    background-color: #fa2a00;
    border: #fa2a00 solid 1px;
    padding: 5px 8px 5px 8px;
    transition: all 0.3s ease-in-out;
}
.botonesInventarioCrear {
        font-size: 13px;
        margin-right: 3px;
        margin-left: 3px;
        color: white;
        cursor: pointer;
        width:24%;
        text-align: center;
        border-radius: 3px;
        text-decoration: none;
        background-color: #2ecc71; 
        border: #2ecc71 solid 1px;
        padding: 5px 8px 5px 8px;
        transition: all 0.3s ease-in-out;
}
.botonesInventarioCrear:hover {
    background-color: #ffffff;
    color: #2ecc71;
    border: solid 1px #2ecc71;
}
.search-crear-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
}
.labelID {
    font-size: 17px;
}
.searchInventario {
    display: flex;
    align-items: center;
    align-content: center;
    border: 1px solid rgba(0, 0, 0, 0.226);
    width: 70%;
    justify-content: space-between;
}
.searchInven__submit {
    font-size: 16px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    height: 31px;
    padding: 0 10px;
    border-radius: 0px;
    background-color: #412838;
}

.fa-times.submit {
    margin-left: -24px;
    color: #00000066;
    display: none;
}

a.fa-times.submit {
    text-decoration: none;
}
.searchFieldInventario {
    width: 100%;
    height: 31px;
    border-width: 0px;
    padding: 10px;
}
.abm-title-inv {
    font-size: 28px;
    margin: 10px 0;
    text-transform: uppercase;
    text-align: left;
    padding: 20px 0px;
}
/*Carrito de compras 2.0*/
.carrito-product-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 30px;
}

.carritoWrapper {
    display: flex;
    align-items: flex-start;
}

.carritoWrapper1 {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.carritoVacio {
    font-size: 26px;
    text-align: center;
    margin-bottom: 45px;
    margin-left: 142px;
}


.abm-input-tit-carrito {
    color: #412838;
    font-size: 19px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.abm-input-tit-carrito-total {
    color: #412838;
    font-size: 19px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.botones-carrito {
     display: flex;
     justify-content: center;
}
.total-carrito {
    font-weight: 700;
    font-size: 14px;
}

.nombreResumen{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 1px;
    margin-right: 9px;
}

.sticky-total {
    position: sticky;
    top: 20px;
    width: 43%;
    box-shadow: 0 0px 10px rgb(0 0 0 / 9%);
    background-color: #f5f5f5cc;
    border-radius: 9px;
    padding: 0px 16px 16px 16px;
    margin: 41px 105px;
}


.sticky-total hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid rgb(211, 209, 209);
    margin: 1em 0;
    padding: 7px 0px;
}

.itemResumen{
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 13px;
}

.nuevoRegistro {
    text-decoration: underline;
    color: inherit;
    margin-left: 53px;

}

.cartNumber{
    color: #412838;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    margin: 0px;
    padding: 0px;
}

.mailLoggeado {
    text-decoration: none;
    color: inherit;
}

.numberFlex {
    display: flex;
}


.fa-circle {
    position: absolute;
    color: #faeeed;
    top: 13px;
    right: 17px;
    font-size: 21px;
    text-shadow: 0 0 0px #000;
}



.itemResumenLast {
    display: flex;
    justify-content: space-between;
  /*   border-top: #9a9898 solid 2px; */
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 32px;
    padding-top: 20px;
/*     margin-top: 20px; */

}

.hrResumen {
    margin: 12px 0px;
}

.hrResumen:last-child {
    display: none;
}

.resumenTitle {
    text-align: left;
    margin-bottom: 27px;
    text-align: left;
}

.carritoLink {
    text-decoration: none;
    color: inherit;
}

.totalResumen {
    font-weight: bold;
    font-size: 21px;
}
/*FIN CSS AUGUSTO*/

/** Migue INICIO**/

.checkbox-login-wrap {
    display: flex;
    align-items: center;
}

.checkbox-login-input {
    margin-right: 5px;
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    width: 400px;
    height: 250px;
    background: #fff;
    margin: auto;
    margin-top: 180px;
    box-shadow: 4px 4px 7px 0 rgb(0 0 0 / 15%);
    padding: 20px 30px;
    border-top: 4px solid #744b64;
}
.form-input{
    font-weight: 300;
    padding: 5px 10px;
    margin: 10px 0;
    width: 300px;
}
.form-button-submit {
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 3px;
    background-color: #412838;
    margin-bottom: 15px;
}
.form-login p {
    text-align: center;
}
.form-login a {
    color: #666666;
    text-decoration: none;
    font-size: 13px;
}
.form-login a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
}
/** hoja de Sobre Nosotros**/
.about-wrapper {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    padding: 20px 0;
    margin: 40px 0;
}
.about-description {
    width: 50%;
    text-align: justify;
}
.about-image-wrap{
    width: 50%;
    overflow: hidden;
    margin-right: 30px;
}
.about-image{
    width: 520px;
    height: auto;
}
/** hoja de contacto**/
.contact-first-title {
    color: #412838;
    font-size: 30px;
    text-align: center;
}
.contact-form {
    width: 50%;
    margin: auto;
}
.contact-form-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* padding: 40px; */
}
.contact-input-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.contact-input-title{
    color: #412838;
    font-size: 20px;
    font-weight: 500;
}
.contact-input-wrap {
    display: flex;
    flex-direction: column;
    padding: 5px 2px;
    width: 100%;
}
.contact-input-wrap-email {
    display: flex;
    flex-direction: column;
    padding: 5px 2px;
    width: 100%;
}
.contact-link {
    color: #412838;
    font-weight: bold;
    text-decoration: none;
}
.contact-link:hover {
    color: #55394a;
}
.contact-title{
    margin: 60px 0 0;
}
.contact-information-title {
    color: #412838;
    font-size: 20px;
    margin: 0 0 20px 0;
    font-weight: 600;
}
.contact-information-form {
    display: flex;
    align-items: center;
    padding: 40px 0;
}
.contact-information{
    width: 50%;
   padding-right: 20px;
}
.contact-button-wrap {
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
}
/** fin hoja de contacto**/

/** hoja sent.ejs**/
.sent_pageBox {
    width: 30rem;
    background: #666666;
    margin: 5rem auto;
    padding: 2rem;
    box-shadow: 2px 2px 2px 2px #e7e7e7;
}
.sent_pageBox__title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.sent_pageBox__Link {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #333;
    background: #333;
    color: #f4f4f4;
    padding: 10px 17px;
    margin-bottom: 1rem;
    cursor: pointer;
}
.sent_pageBox__Link:hover {
    background: #e9e9e9;
    color: #333;
    border: 1px solid #333;
}
/** Migue FIN**/

/* MEDIA QUERIES */

@media (max-width: 768px){ /* Tablets */
/** Peter INICIO **/
    .hero-banner-img {
        height: 400px;
    }
    .hero-banner-desc h1 {
        font-size: 45px;
        line-height: 50px;
        margin: 20px 0;
    }
    .hero-banner-desc p {
        font-size: 14px;
        line-height: 22px;
    }
    .container{
        padding: 0 20px;
    }
    .hero-top {
        padding: 10px 20px;
    }
    .page-title-img {
        height: 250px;
    }
    .page-title-img {
        height: 200px;
    }
    .page-title-desc h1 {
        font-size: 45px;
        line-height: 50px;
        margin: 20px 0;
    }
    #cultivos {
        justify-content: space-around;
    }
    .cultivos-wrapper {
        width: 200px;
        height: 200px;
    }
    .cultivos-img {
        width: 200px;
    }
    .cultivos-title {
        width: 200px;
        height: 200px;
    }
    .cultivos-title h3 {
        padding-bottom: 20px;
        font-size: 16px;
    }
    .product-grid{
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }
/** Peter FIN **/

/** Augusto INICIO **/
/** detalle de Producto **/
    .detalleProducto {
        flex-direction: column;
        align-items: center;
    }
    .contenedorTexto {
        margin-top: 100px;
        text-align: center;
        width: 70%;
        margin: 0px;
    }
    .tituloProducto {
        text-align: center;
        margin-top: 60px;
    }
    .iconosProducto {
        width: 100%;
        justify-content: center;
    }
    /** cart **/
    .barraSuperiorCarrito {
        display: none;
    }

/*     .producto1Carrito {
        flex-direction: column;
        align-items: center;
    } */
    .producto1CarritoContenedorTotal {
        flex-direction: column;
        align-items: center;
    }

/** Augusto FIN **/

/** Migue INICIO **/
/** Migue FIN **/
}

@media (max-width: 468px){ /* Smartphones */
/** Peter INICIO **/
    h5 {
        color: #ffffff;
        font-size: 13px;
        font-weight: 500;
        padding: 20px 0 10px;
        margin: 0;
    }
    .container{
        padding: 0 20px;
    }
    .hero-top {
        padding:5px 0;
        flex-direction: column;
    }
    .hero-logo {
        width: 200px;
    }
    .hero-search {
        display: none;
    }
    .hero-menu-wrapper {
        justify-content: space-between;
    }
    .hero-menu{
        display: none;
    }
    .hero-burger-wrap{
        display:inline-block;
    }
    .hero-banner-img {
        height: 400px;
    }
    .hero-banner-desc h1 {
        font-size: 22px;
        line-height: 30px;
    }
    .hero-banner-desc p {
        font-size: 13px;
        line-height: 20px;
        letter-spacing: normal;
    }
    .page-title-img {
        height: 200px;
    }
    .page-title-desc {
        position: absolute;
        top: 30%;
        left: 15%;
        color: #744b64;
    }
    .page-title-desc h1 {
        font-size: 35px;
        line-height: 40px;
        margin:0;
    }
    #cultivos {
        justify-content: space-around;
    }
    .cultivos-wrapper {
        width: 300px;
        height: 300px;
        margin-bottom: 20px;
    }
    .cultivos-img {
        width: 300px;
    }
    .cultivos-title {
        width: 300px;
        height: 300px;
    }
    .cultivos-title h3 {
        padding-bottom: 20px;
        font-size: 16px;
    }
    #recomendados {
        padding: 40px 0 0;
    }
    .product-grid{
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .footer-wapper {
        margin-top: 30px;
        padding: 20px 0;
        flex-direction: column;
        align-items: center;
    }
    .footer-contact {
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-social a {
        margin-top: 0;
    }
    .footer-news-wrapper {
        flex-direction: column;
        align-items: center;
    }
/** Peter FIN **/
/** Augusto INICIO **/
/** Augusto FIN **/
/** Migue INICIO **/
/** Migue FIN **/
}

/* BACKOFFICE */
.bo-top-container{
    border-bottom: #412838 solid 1px;
}
.bo-top {
    display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: flex-end;
    max-width: 1100px;
    padding: 10px 0;
    margin: auto;
}
.bo-logo {
    width: 180px;
}
.bo-profile-wrap{
    display: flex;
    align-items: center;
    
}
.bo-profile-txt {
    color: #412838;
    font-size: 16px;
}
.bo-profile{
    color: #412838;
    display: flex;   
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 32px;
}

.foto-nav-logged {
    color: #412838;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 32px;
}

.picture-nav-bar {
    color: #412838;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 32px;
    border:solid 1px rgba(0, 0, 0, 0.50)
}

.margin-left-bo-profile {
    margin-left: 16px;
}

.bo-profile:hover {
    color: #55394a;
}
.dashboard-wrapper{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 25px 0px 60px;
    
}
.abm-inventory-nav-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.abm-inventory-nav{
    font-weight: 600;
}
.abm-inventory-nav-link{
    color:#412838;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 2px;
}

.abm-inventory-nav-link:hover {
    color: #55394a;
}

.abm-productos, .abm-inventory{
    padding: 40px 0;
}
.abm-producto-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.abm-title{
    font-size: 28px;
    padding: 0 20px;
    margin: 10px 0;
    text-transform: uppercase;

}
.abm-form-wrapper{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 40px;
    box-shadow: 4px 4px 7px 0 rgb(0 0 0 / 15%);
    border-top: 4px solid #744b64;
}
.abm-form-error-container {
    background-color: rgba(235, 0, 139, 0.15);
    padding: 0 20px;
    color: #fa2a00;
    font-weight: 700;
}
.abm-input-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.abm-input-wrap{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
}
.abm-input-wrap-email {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    width: 100%;
}
.abm-input-wrap-desc{
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    width: 100%;
}
.abm-input-error{
    margin: 0;
    color: #fa2a00;
}
.abm-input {
    font-weight: 300;
    padding: 10px 10px;
    margin: 5px 0;
}
.abm-img-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 50%;
}
.abm-img {
    width: 140px;
    box-shadow: 4px 4px 7px 0 rgb(0 0 0 / 15%);
}
.abm-ratio-wrap {
    font-weight: 300;
    padding: 8px 7px;
    margin: 5px 0;
    border-radius: 2px;
    display: flex;
    border: solid 1px rgb(118, 118, 118);
}
.abm-ratio-lavel {
        display: flex;
        align-items: center;
}
.abm-ratio {
    color: #412838;
    margin-left: 10px;
    margin-right: 5px;
}
.abm-input-tit {
    color: #412838;
    font-size: 16px;
    font-weight: 500;
}
select{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}
select option {
    color: #666666;
}
select:required:invalid {
    color: #744b64;
}
option[value=""][disabled] {
    display: none;
}
option {
    color: black;
}

.abm-button-wrap-editUser {
    display: flex;
    justify-content: flex-start;
    padding: 15px 10px;
}
.abm-button-wrap{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}
.abm-button-wrapper{
    display: flex;
    justify-content: flex-end;
    padding: 15px 10px;
}
.abm-button-submit.front {
    font-size: 13px;
    cursor: pointer;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 3px;
    text-decoration: none;
    background-color: #faeeed;
    color: #55394a;
    border: #55394a solid 1px;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    margin-left: 15px;
}
.abm-button-submit.front:hover {
    background-color: white;
}

.abm-button-submit {
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 3px;
    text-decoration: none;
    background-color: #55394a;
    border: #55394a solid 1px;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}
.abm-button-submit:hover {
    background-color:#faeeed;
    color: #55394a;
    border: #55394a solid 1px;
}
.abm-button-cancel{
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    padding: 10px 15px;
    margin-right: 15px;
    border-radius: 3px;
    text-decoration: none;
    background-color: #fa2a00;
    border: #fa2a00 solid 1px;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}
.abm-button-cancel:hover {
    background-color: #ffffff;
    color: #fa2a00;
    border: solid 1px #fa2a00;
}
.green-submit{
    background-color: #2ecc71;
    border: #2ecc71 solid 1px;
    margin-left: 15px;
}
.green-submit:hover{
    background-color: #ffffff;
    color: #2ecc71;
    border: solid 1px #2ecc71;
}
.cambiarimagen-button {
    background-color:#faeeed;
    color: #55394a;
    border: #55394a solid 1px;
    padding: 2px 7px;
}
.abm-file-input {
    margin-left: -5px;
  }
.abm-file-input::-webkit-file-upload-button {
    font-size: 13px;
    color: #55394a;
    border: solid 1px #55394a;
    background-color:#faeeed;
    cursor: pointer;
    padding: 8px 20px;
    margin: 5px 10px;
    border-radius: 3px;
    margin-bottom: 15px;
  }
.bo-footer-wapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.bo-footer-txt{
    color: #ffffff;
}
.bo-footer-logo{
    width: 150px;
}

@media (max-width: 768px){ /* Tablets */
    .abm-producto-wrapper {
        padding: 0 20px;
    }
    .bo-top {
        padding: 5px 20px;
    }
    .bo-footer-wapper {
        padding: 10px 20px;
    } 
}

@media (max-width: 468px){ /* BO Smartphones */
    .bo-logo {
        width: 100px;
    }
    .bo-profile-txt {
        font-size: 14px;
    }
    .abm-productos {
        padding: 20px 0;
    }
    .abm-title {
        font-size: 16px;
    }
    .abm-form-wrapper {
        padding: 15px;
    }
    .abm-input-container {
        flex-direction: column;
    }
    .abm-input-wrap {
        padding: 8px 0px;
        width: 100%;
    }
    .abm-input-wrap-desc {
        padding: 15px 0;
        width: 100%;
    }
    .abm-button-submit {
        width: 100%;
    }
    .bo-footer-wapper {
        padding: 10px 10px;
        flex-direction: column;
        flex-direction: column-reverse;
    }
}