<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="page-title">
            <img src="/images/page-title-img.jpg" alt="Tienda" class="page-title-img">
            <div class="container">
                <div class="page-title-desc">
                    <h1>SOBRE NOSOTROS</h1>
                </div>
            </div>
        </div>
        <section class="container">
            <div class="about-wrapper">
                <div class="about-image-wrap">
                    <img src="/images/sobre-nosotros-desc.jpg" alt="Imagen sobre nosotros" class="about-image">
                </div>
                <div class="about-description">
                    <p>Los mejores y mas exquisitos vinos. Desde el 2021 te acercamos el mayor catálogo online de vinos <strong>Orgánicos</strong> , <strong> Naturales</strong> y <strong>Biodinámicos</strong> al mejor precio.</p> 
                    <p>Queremos que puedas pagar con la mayoría de los medios de pago y lo recibas en la comodidad de tu casa.<br>
                        Te asesoramos para guiarte con tu compra y te brindamos las opiniones de otros compradores para que tomes la mejor decisión.
                        Para los que quieren estar actualizados con las novedades del mundo del vino, les proponemos que se inscriban en nuestra sección de newsletter.
                        Queremos que tengas una excelente experiencia de compra y nos esforzamos mucho para eso.</p>                 </div>
            </div>

        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>