<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="page-title">
            <img src="/images/page-title-contacto.jpg" alt="Contactanos" class="page-title-img">
            <div class="container">
                <div class="page-title-desc">
                    <h1>CONTACTÁNOS</h1>
                </div>
            </div>
        </div>
            <section class="container">
                    <h2 class="contact-title">Encontrá la información que necesitás</h2>
                <div class="contact-information-form" >
                    <div class="contact-information">
                        <h3 class="contact-information-title">Consultá por tu compra</h3>
                        <p>Si realizaste una compra y tenes dudas, enviamos un mensaje a este email:</p>
                        <a href="mailto:dhschools@digitalhouse.com" class="contact-link"><p class="contact-email">info@mawun.wine</p></a>
                        <h3 class="contact-information-title">Venta Mayorista</h3>
                        <p>Si necesitas comprar para tu restaurant o almacén, envianos un mail a:</p>
                        <a href="mailto:dhschools@digitalhouse.com" class="contact-link"><p>info@mawun.wine</p></a>
                    </div>
                    <div class="errores">
                        <ul></ul>
                    </div>
                    <div class="contact-form">
                        <form method="POST" action="/sendemail" id="formulario" class="contact-form-wrapper">
                            <div class="contact-input-container">
                                <div class="contact-input-wrap">
                                    <input type="text" name="name" id="name" placeholder="Nombre Completo" class="abm-input name">
                                </div>
                                <div class="contact-input-wrap-email">
                                    <input type="email" name="email" id="email" placeholder="E-mail" class="abm-input email">
                                </div> 
                                <div class="contact-input-wrap">
                                    <input type="text" name="asunto" id="asunto" placeholder="Asunto" class="abm-input asunto">
                                </div>   
                                <div class="contact-input-wrap">
                                    <textarea class="abm-input consulta" rows="6" type="textarea" name="consulta" id="description" placeholder="Escribi tu consulta"></textarea>
                                </div>  
                            </div>
                            <div class="contact-button-wrap">
                                <button type="submit" class="abm-button-submit">ENVIAR</button>
                            </div>
                        </form>
                        </div>
                </div>
            </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>