<footer class="bgc-fw">
    <div class="bo-footer-wapper container">
        <p class="bo-footer-txt">Powered by G1 - Digital House</p>
        <div class="footer-news">
                <a href="/usuarios/logout"> Logout</a>
        </div>
        <img class="bo-footer-logo" src="/images/mawun-logo-w.svg" alt="Mawun Wines">
    </div>
</footer>