<header class="bo-top-container">
    <div class="bo-top">
        <div>
            <a href="/admin/dashboard"><img src="/images/mawun-logo.svg" alt="MAWUN" class="bo-logo"></a>
        </div>
        <div class="bo-profile-wrap">
            <p class="bo-profile-txt"> <% if (locals.user) { %> <%= locals.user.email %> <% } %>  </p>
            <a href="/admin/perfil/<%=locals.user.id%>"><img src="/upload/profile-pictures/<%if(locals.user){%><%=locals.user.image%><%}%>"  class="bo-profile"></a>
        </div>
    </div>
</header>