<header class="bo-top-container">
    <div class="bo-top">
        <div>
            <a href="/admin/dashboard"><img src="/images/mawun-logo.svg" alt="MAWUN" class="bo-logo"></a>
        </div>
        <div class="bo-profile-wrap">
            <p class="bo-profile-txt"> <% if (locals.usuarioLogeado) { %> <%= locals.usuarioLogeado.email %> <% } %>  </p>
            <a href="/admin/<%=locals.usuarioLogeado.id%>/perfil/"><img src="/upload/profile-pictures/<%if(locals.usuarioLogeado){%><%=locals.usuarioLogeado.image%><%}%>"  class="bo-profile  margin-left-bo-profile"></a>
        </div>
    </div>
</header> 