<div  class="abm-inventory-nav-wrapper">
    <div class="abm-inventory-nav">
        <a href="/admin/dashboard" class="abm-inventory-nav-link">DASHBOARD</a>
        <a href="/admin/inventario-productos" class="abm-inventory-nav-link tab2">PRODUCTOS</a>
        <a href="/admin/inventario-usuarios" class="abm-inventory-nav-link tab3">USUARIOS</a>
        <a href="/admin//inventario-newsletter" class="abm-inventory-nav-link tab4">NEWSLETTER</a>
    </div>
</div>