<div  class="abm-inventory-nav-wrapper">
    <div class="abm-inventory-nav">
        <a href="/admin/dashboard" class="abm-inventory-nav-link">DASHBOARD</a>
        <a href="/admin/inventario-productos" class="abm-inventory-nav-link">PRODUCTOS</a>
        <a href="/admin/inventario-usuarios" class="abm-inventory-nav-link">USUARIOS</a>
        <a href="#" class="abm-inventory-nav-link">NEWSLETTER</a>
    </div>
</div>