<footer class="bgc-fw">
    <div class="footer-wapper container">
        <div class="footer-contact">
            <img class="footer-logo" src="/images/mawun-logo-w.svg" alt="Mawun Wines">
            <a href="https://goo.gl/maps/t1fWN1vj3rRUkFdm7" class="footer-link" target="_blank"><i class="far fa-map"></i></i><p>Calle Nombre 815</p></a>
            <a href="https://wa.me/" class="footer-link" target="_blank"><i class="fab fa-whatsapp"></i><p>54 11 3210 7654</p></a>
            <a href="mailto:dhschools@digitalhouse.com" class="footer-link"><i class="far fa-envelope"></i><p>info@mawun.wine</p></a>
        </div>
        <div class="footer-social-wrapper">
            <h5>SEGUINOS</h5>
            <div class="footer-social">
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f" style="padding-left: 10px;"></i></a>
            </div>
        </div>
        <div class="footer-news-wrapper">
            <h5>SUSCRIBITE AL NEWSLETTER</h5>
            <form action="/admin" method="POST" class="footer-news-form">
                <input type="email" name= "email" class="footer-news__field" maxlength="256" placeholder="Tu e-mail" required >
                <button class="footer-news__submit">SUSCRIBIRSE</button>
            </form>
            <div class="footer-news">
                <% if (locals.user == undefined) { %>
                <a href="/usuarios/registro">Registrate</a>
                <% } %>
                <% if (locals.user) { %>
                    <a href="/usuarios/logout"> Logout</a>
                    <% } %>
                <a href="/admin/inventario-productos">Back Office</a>
            </div>
        </div>
    </div>
</footer>