<header>
    <div class="hero-top">
        <div>
            <a href="/"><img src="/images/mawun-logo.svg" alt="MAWUN" class="hero-logo"></a>
        </div>
        <div class="hero-search">
            <form action="/" method="POST" class="hero-menu-wrapper">
                <input type="search" maxlength="256" placeholder="Buscar Vinos" class="hero-search__field">
                <button class="hero-search__submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="bgc-fw">
        <nav class="hero-menu-wrapper container">
            <div class="hero-burger-wrap"><i class="fas fa-bars"></i></div>
            <ul class="hero-menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Tienda</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
                <!-- <li><a href="#">FAQ</a></li> -->
                <li><a href="/contacto">Contacto</a></li>
            </ul> 
            <div class="hero-cart">

                <% if (locals.user == undefined) { %>
                    <a href="/usuarios/inicio" class="hero-cart-link"><i class="far fa-user"></i></a>
                    <% } %>
                    <% if (locals.user) { %>
                        <<a href="/usuarios/perfil" class="hero-cart-link"><i class="far fa-user"></i></a>
                        <% } %> 
                <a href="/productos/carrito" class="hero-cart-link"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </nav>
    </div>
</header>