<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/bo-header') %>
            <main>
                <section class="abm-inventory container full-height">
                    <div class="abm-inventory-wrapper">
                        <h2 class="abm-title-inv">Dashboard - MAWUN</h2>
                        <div class="dashboard-wrapper">
                            <div class="button-wrap"><a href="/" class="product-grid-button"><i class="fas fa-globe-americas"></i></i><span style="padding-left: 5px;">HOME</span></a></div>
                            <div class="button-wrap"><a href="/admin/inventario-productos" class="product-grid-button"><i class="fas fa-wine-bottle"></i><span style="padding-left: 5px;">PRODUCTOS</span></a></div>
                            <div class="button-wrap"><a href="/admin/inventario-usuarios" class="product-grid-button"><i class="fas fa-users"></i><span style="padding-left: 5px;">USUARIOS</a></div>
                            <div class="button-wrap"><a href="/admin/inventario-newsletter" class="product-grid-button"><i class="fas fa-envelope"></i><span style="padding-left: 5px;">NEWSLETTER</span></a></div>
                        </div> 
                    </div>  
                </section>
            </main>
            <%- include('../partials/bo-footer') %>
    </body>

</html>