<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="page-title">
            <img src="/images/page-title-img.jpg" alt="Tienda" class="page-title-img">
            <div class="container">
                <div class="page-title-desc">
                    <h1>TIENDA</h1>
                </div>
            </div>
        </div>
        <section class="container">
            <div class="product-grid">
                <article class="product-grid-item">
                    <a href="/productos/detalle">
                        <img src="/images/vino-nr3-home.jpg" alt="Gran Lurton Rosé" class="product-grid-img">
                        <h4>Gran Lurton Rosé</h4>
                        <p class="product-grid-title">$ 1700</p>
                        <div class="button-wrap"><a href="/productos/carrito" class="product-grid-button">AGREGAR AL CARRITO</a></div>
                    </a> 
                </article>
                <article class="product-grid-item">
                    <a href="/productos/detalle">
                        <img src="/images/vino-nr1-home.jpg" alt="Stutz Tannat" class="product-grid-img">
                        <h4>Stutz Tannat</h4>
                        <p class="product-grid-title">$ 750</p>
                        <div class="button-wrap"><a href="/productos/carrito" class="product-grid-button">AGREGAR AL CARRITO</a></div>
                    </a>
                </article>
                <article class="product-grid-item">
                    <a href="/productos/detalle">
                        <img src="/images/vino-nr4-home.jpg" alt="Hippie Love Blanco" class="product-grid-img">
                        <h4>Hippie Love Blanco</h4>
                        <p class="product-grid-title">$ 1700</p>
                        <div class="button-wrap"><a href="/productos/carrito" class="product-grid-button">AGREGAR AL CARRITO</a></div>
                    </a>
                </article>
                <article class="product-grid-item">
                    <a href="/productos/detalle">
                        <img src="/images/vino-nr2-home.jpg" alt="Cosmic Amber" class="product-grid-img">
                        <h4>Cosmic Amber</h4>
                        <p class="product-grid-title">$ 1500</p>
                        <div class="button-wrap"><a href="/productos/carrito" class="product-grid-button">AGREGAR AL CARRITO</a></div>
                    </a> 
                </article>
                <article class="product-grid-item">
                    <a href="/productos/detalle">
                        <img src="/images/vino-nr3-home.jpg" alt="Gran Lurton Rosé" class="product-grid-img">
                        <h4>Gran Lurton Rosé</h4>
                        <p class="product-grid-title">$ 1700</p>
                        <div class="button-wrap"><a href="/productos/carrito" class="product-grid-button">AGREGAR AL CARRITO</a></div>
                    </a> 
                </article>
                <article class="product-grid-item">
                    <a href="/productos/detalle">
                        <img src="/images/vino-nr1-home.jpg" alt="Stutz Tannat" class="product-grid-img">
                        <h4>Stutz Tannat</h4>
                        <p class="product-grid-title">$ 750</p>
                        <div class="button-wrap"><a href="/productos/carrito" class="product-grid-button">AGREGAR AL CARRITO</a></div>
                    </a>
                </article>
                <article class="product-grid-item">
                    <a href="/productos/detalle">
                        <img src="/images/vino-nr4-home.jpg" alt="Hippie Love Blanco" class="product-grid-img">
                        <h4>Hippie Love Blanco</h4>
                        <p class="product-grid-title">$ 1700</p>
                        <div class="button-wrap"><a href="/productos/carrito" class="product-grid-button">AGREGAR AL CARRITO</a></div>
                    </a>
                </article>
                <article class="product-grid-item">
                    <a href="/productos/detalle">
                        <img src="/images/vino-nr2-home.jpg" alt="Cosmic Amber" class="product-grid-img">
                        <h4>Cosmic Amber</h4>
                        <p class="product-grid-title">$ 1500</p>
                        <div class="button-wrap"><a href="/productos/carrito" class="product-grid-button">AGREGAR AL CARRITO</a></div>
                    </a> 
                </article>
                <article class="product-grid-item">
                    <a href="/productos/detalle">
                        <img src="/images/vino-nr3-home.jpg" alt="Gran Lurton Rosé" class="product-grid-img">
                        <h4>Gran Lurton Rosé</h4>
                        <p class="product-grid-title">$ 1700</p>
                        <div class="button-wrap"><a href="/productos/carrito" class="product-grid-button">AGREGAR AL CARRITO</a></div>
                    </a> 
                </article>
                <article class="product-grid-item">
                    <a href="/productos/detalle">
                        <img src="/images/vino-nr1-home.jpg" alt="Stutz Tannat" class="product-grid-img">
                        <h4>Stutz Tannat</h4>
                        <p class="product-grid-title">$ 750</p>
                        <div class="button-wrap"><a href="/productos/carrito" class="product-grid-button">AGREGAR AL CARRITO</a></div>
                    </a>
                </article>
                <article class="product-grid-item">
                    <a href="/productos/detalle">
                        <img src="/images/vino-nr4-home.jpg" alt="Hippie Love Blanco" class="product-grid-img">
                        <h4>Hippie Love Blanco</h4>
                        <p class="product-grid-title">$ 1700</p>
                        <div class="button-wrap"><a href="/productos/carrito" class="product-grid-button">AGREGAR AL CARRITO</a></div>
                    </a>
                </article>
                <article class="product-grid-item">
                    <a href="/productos/detalle">
                        <img src="/images/vino-nr2-home.jpg" alt="Cosmic Amber" class="product-grid-img">
                        <h4>Cosmic Amber</h4>
                        <p class="product-grid-title">$ 1500</p>
                        <div class="button-wrap"><a href="/productos/carrito" class="product-grid-button">AGREGAR AL CARRITO</a></div>
                    </a> 
                </article>
                <article class="product-grid-item">
                    <a href="/productos/detalle">
                        <img src="/images/vino-nr3-home.jpg" alt="Gran Lurton Rosé" class="product-grid-img">
                        <h4>Gran Lurton Rosé</h4>
                        <p class="product-grid-title">$ 1700</p>
                        <div class="button-wrap"><a href="/productos/carrito" class="product-grid-button">AGREGAR AL CARRITO</a></div>
                    </a> 
                </article>
                <article class="product-grid-item">
                    <a href="/productos/detalle">
                        <img src="/images/vino-nr1-home.jpg" alt="Stutz Tannat" class="product-grid-img">
                        <h4>Stutz Tannat</h4>
                        <p class="product-grid-title">$ 750</p>
                        <div class="button-wrap"><a href="/productos/carrito" class="product-grid-button">AGREGAR AL CARRITO</a></div>
                    </a>
                </article>
                <article class="product-grid-item">
                    <a href="/productos/detalle">
                        <img src="/images/vino-nr4-home.jpg" alt="Hippie Love Blanco" class="product-grid-img">
                        <h4>Hippie Love Blanco</h4>
                        <p class="product-grid-title">$ 1700</p>
                        <div class="button-wrap"><a href="/productos/carrito" class="product-grid-button">AGREGAR AL CARRITO</a></div>
                    </a>
                </article>
                <article class="product-grid-item">
                    <a href="/productos/detalle">
                        <img src="/images/vino-nr2-home.jpg" alt="Cosmic Amber" class="product-grid-img">
                        <h4>Cosmic Amber</h4>
                        <p class="product-grid-title">$ 1500</p>
                        <div class="button-wrap"><a href="/productos/carrito" class="product-grid-button">AGREGAR AL CARRITO</a></div>
                    </a> 
                </article>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>