<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="hero-banner">
            <img src="/images/header-banner-img.jpg" alt="Promo Otoño" class="hero-banner-img">
            <div class="container">
                <div class="hero-banner-desc">
                    <h1>TIENDA</h1>
                </div>
            </div>
        </div>
        <section id="recomendados" class="container">
            <div class="product-grid">
                <article class="product-grid-item">
                    <img src="/images/vino-nr3-home.jpg" alt="Gran Lurton Rosé" class="product-grid-img">
                    <h4>Gran Lurton Rosé</h4>
                    <p class="product-grid-title">$ 1700</p>
                    <div class="button-wrap"><a href="#" class="product-grid-button">AGREGAR AL CARRITO</a></div> 
                </article>
                <article class="product-grid-item">
                    <img src="/images/vino-nr1-home.jpg" alt="Stutz Tannat" class="product-grid-img">
                    <h4>Stutz Tannat</h4>
                    <p class="product-grid-title">$ 750</p>
                    <div class="button-wrap"><a href="#" class="product-grid-button">AGREGAR AL CARRITO</a></div> 
                </article>
                <article class="product-grid-item">
                    <img src="/images/vino-nr4-home.jpg" alt="Hippie Love Blanco" class="product-grid-img">
                    <h4>Hippie Love Blanco</h4>
                    <p class="product-grid-title">$ 1700</p>
                    <div class="button-wrap"><a href="#" class="product-grid-button">AGREGAR AL CARRITO</a></div> 
                </article>
                <article class="product-grid-item">
                    <img src="/images/vino-nr2-home.jpg" alt="Cosmic Amber" class="product-grid-img">
                    <h4>Cosmic Amber</h4>
                    <p class="product-grid-title">$ 1500</p>
                    <div class="button-wrap"><a href="#" class="product-grid-button">AGREGAR AL CARRITO</a></div> 
                </article>
                <article class="product-grid-item">
                    <img src="/images/vino-nr2-home.jpg" alt="Cosmic Amber" class="product-grid-img">
                    <h4>Cosmic Amber</h4>
                    <p class="product-grid-title">$ 1500</p>
                    <div class="button-wrap"><a href="#" class="product-grid-button">AGREGAR AL CARRITO</a></div> 
                </article>
                <article class="product-grid-item">
                    <img src="/images/vino-nr2-home.jpg" alt="Cosmic Amber" class="product-grid-img">
                    <h4>Cosmic Amber</h4>
                    <p class="product-grid-title">$ 1500</p>
                    <div class="button-wrap"><a href="#" class="product-grid-button">AGREGAR AL CARRITO</a></div> 
                </article>
                <article class="product-grid-item">
                    <img src="/images/vino-nr2-home.jpg" alt="Cosmic Amber" class="product-grid-img">
                    <h4>Cosmic Amber</h4>
                    <p class="product-grid-title">$ 1500</p>
                    <div class="button-wrap"><a href="#" class="product-grid-button">AGREGAR AL CARRITO</a></div> 
                </article>
                <article class="product-grid-item">
                    <img src="/images/vino-nr2-home.jpg" alt="Cosmic Amber" class="product-grid-img">
                    <h4>Cosmic Amber</h4>
                    <p class="product-grid-title">$ 1500</p>
                    <div class="button-wrap"><a href="#" class="product-grid-button">AGREGAR AL CARRITO</a></div> 
                </article>
                <article class="product-grid-item">
                    <img src="/images/vino-nr2-home.jpg" alt="Cosmic Amber" class="product-grid-img">
                    <h4>Cosmic Amber</h4>
                    <p class="product-grid-title">$ 1500</p>
                    <div class="button-wrap"><a href="#" class="product-grid-button">AGREGAR AL CARRITO</a></div> 
                </article>
                <article class="product-grid-item">
                    <img src="/images/vino-nr2-home.jpg" alt="Cosmic Amber" class="product-grid-img">
                    <h4>Cosmic Amber</h4>
                    <p class="product-grid-title">$ 1500</p>
                    <div class="button-wrap"><a href="#" class="product-grid-button">AGREGAR AL CARRITO</a></div> 
                </article>
                <article class="product-grid-item">
                    <img src="/images/vino-nr2-home.jpg" alt="Cosmic Amber" class="product-grid-img">
                    <h4>Cosmic Amber</h4>
                    <p class="product-grid-title">$ 1500</p>
                    <div class="button-wrap"><a href="#" class="product-grid-button">AGREGAR AL CARRITO</a></div> 
                </article>
                <article class="product-grid-item">
                    <img src="/images/vino-nr2-home.jpg" alt="Cosmic Amber" class="product-grid-img">
                    <h4>Cosmic Amber</h4>
                    <p class="product-grid-title">$ 1500</p>
                    <div class="button-wrap"><a href="#" class="product-grid-button">AGREGAR AL CARRITO</a></div> 
                </article>
                <article class="product-grid-item">
                    <img src="/images/vino-nr2-home.jpg" alt="Cosmic Amber" class="product-grid-img">
                    <h4>Cosmic Amber</h4>
                    <p class="product-grid-title">$ 1500</p>
                    <div class="button-wrap"><a href="#" class="product-grid-button">AGREGAR AL CARRITO</a></div> 
                </article>
                <article class="product-grid-item">
                    <img src="/images/vino-nr2-home.jpg" alt="Cosmic Amber" class="product-grid-img">
                    <h4>Cosmic Amber</h4>
                    <p class="product-grid-title">$ 1500</p>
                    <div class="button-wrap"><a href="#" class="product-grid-button">AGREGAR AL CARRITO</a></div> 
                </article>
                <article class="product-grid-item">
                    <img src="/images/vino-nr2-home.jpg" alt="Cosmic Amber" class="product-grid-img">
                    <h4>Cosmic Amber</h4>
                    <p class="product-grid-title">$ 1500</p>
                    <div class="button-wrap"><a href="#" class="product-grid-button">AGREGAR AL CARRITO</a></div> 
                </article>

            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>