<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="abm-productos container">
            <div class="abm-producto-wrapper">
                <h2 class="abm-title">Registro</h2>
                <form action="" class="abm-form-wrapper" method="POST" enctype="multipart/form-data">
                    <div class="abm-input-container">
                        <div class="abm-input-wrap">
                            <label for="user-name" class="abm-input-tit">Nombre</label>
                            <input type="text" name="user-name" id="user-name" placeholder="Nombre" class="abm-input">
                        </div>
                        <div class="abm-input-wrap">
                            <label for="Apellido" class="abm-input-tit">Apellido</label>
                            <input type="text" id="Aplellido" placeholder="Apellido" class="abm-input">
                        </div>
                        <div class="abm-input-wrap-email">
                            <label for="Email" class="abm-input-tit">Email</label>
                            <input type="email" id="email" placeholder="Email" class="abm-input">
                        </div>
                        <div class="abm-input-wrap">
                            <label for="password" class="abm-input-tit">Contrase単a</label>
                            <input type="password" id="password" placeholder="Contrase単a" class="abm-input">
                        </div>     
                        <!--<div class="abm-input-wrap">
                            <label for="password" class="abm-input-tit"> Repetir Contrase単a</label>
                            <input type="password" id="password" placeholder="Contrase単a" class="abm-input">
                        </div>-->
                        <div class="abm-input-wrap">
                            <label for="image" class="abm-input-tit">Subir imagen</label>
                            <input type="file" id="image" placeholder="Subir imagen" class="abm-input">
                        </div>
                    </div>
                    <div class="abm-button-wrap">
                        <button type="submit" class="abm-button-submit">ENVIAR</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>